.phones{
    width: 350px;
    height: 650px;
   
}
body{
    display: flex;
    justify-content: center;
}
.form--container{
    text-align: center;
    margin-top: 10rem;
    line-height: 2rem;
}
.box-container{
    display: flex;
    background-color: antiquewhite;
}
.box-container{
    margin-top: 1rem;
    width: 20rem;
}
.delete, .edit{
    cursor: pointer;
}
.text--field{
    width: 20rem;
    height: 3rem;
}
.button, .delete{
    width: 8rem;
    height: 3.4rem;
    background-color: rgb(73, 73, 84);
    border-style: none;
}
.delete{
margin-left:  28rem;
}
.text--space{
    font-family: sans-serif;
    font-size: 1.5rem;
    
}
.main--container--space{
    display: flex;
    justify-content: center;
}
.trash{
    margin-top: 0.3rem;
    margin-left: 10rem;
    color: red;
    cursor: pointer;
}
.listing{
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(108, 108, 86);
}

@media only screen and (min-width: 350px){
    .phones{
        width: 700px;
        height: 1000px;    
    }
    .text--field{
        width: 20rem;   
    }
}
@media only screen and (min-width: 700px){
    .phones{
        width: 1920px;
        height: 1080px;    
    }
    .text--field{
        width: 30rem;   
    }
}